*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #333;
}

:root {
  --water-color: #AADCFB;
  --bg-color: #F7F8FC;
}

nav {
  background-color: var(--water-color);
  padding: 2rem 1rem;
  text-align: center;
  font-size: 24px;
}

#userinput{
  padding: 4% 20% 0% 20%;
}

.box{
  padding: 16px;
  font-size: 24px;
}

#result{
  padding: 1% 20%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 18px 28px;
  text-align: center;
}

.water{
  background-color: #ADD8E6; 
}

.borderless{
  border: none;
}

#finaltotal{
  padding-block: 16px;
}